input[type=text]:hover,
input[type=text]:focus {
    border: 2px solid seagreen;
}

input[type=text] {
    padding: .4em;
    width: 15em;
}

label {
    font-size: 1.3rem;
    color: #333;
    font-weight: bold;
}

button {
    border: none;
    background-color: #2a2afa;
    color: whitesmoke;
    padding: .3em;
    font-size: 1em;
    width: 4em;
    border-radius: 5px;
}